/*-------------------------
   About Us
-------------------------*/
.about-us {
    .section-heading {
        p {
            width: 100%;
        }
    }
}
.section-heading{
    .subtitle{
        text-align: center;
    }
}

.contact-form-box {
    background-color: transparent;
    padding: 50px;
    border-radius: 30px;
    @media #{$sm-layout} {
        padding: 40px 30px;
    }
    .title {
        font-size: 40px;
        background: linear-gradient(90deg, rgba(255,116,37,1) 8%, rgba(0,0,0,1) 83%)    ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0,0,0,0);
        @media #{$laptop-device} {
            font-size: 29px;
        }
        @media #{$smlg-device} {
            font-size: 32px;
        }
        @media #{$sm-layout} {
            font-size: 28px;
        }
    }
    .form-group {
        .axil-btn {
            &::after {
                width: calc(100% + 50px);
            }
        }
    }
    &.shadow-box {
        box-shadow: 0 20px 48px 0 rgba(153,161,170,.25);
    }
}

.about-expert {
    text-align: center;
    position: relative;
    .thumbnail {
        position: relative;
        display: inline-block;
        border-radius: 40px;
        box-shadow: 0px 17px 26px 0px rgba(0,0,0,0.2);
        img {
            border-radius: 40px;
            width: 55%;
        }
        .popup-video {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            .play-btn {
                height: 150px;
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0,0,0,0.8);
                border: none;
                border-radius: 50%;
                margin: 0 auto;
                font-size: 32px;
                color: var(--color-white);
                transition: var(--transition);
                &:hover {
                    background-color: var(--color-primary);
                }
                @media #{$md-layout} {
                   height: 120px;
                   width: 120px;
                   font-size: 28px;
                }
                @media #{$sm-layout} {
                   height: 80px;
                   width: 80px;
                   font-size: 24px;
                }
            }
        }
    }
    .frame-shape {
        @media #{$smlg-device} {
            display: none;
        }
        .shape {
            position: absolute;
            &.shape-1 {
                left: -10px;
                bottom: 75px;
            }
            &.shape-2 {
                bottom: 190px;
                right: -30px;
            }
        }
    }
}
.about-home-quality{
    margin-bottom: 30px;
    // background: #eaf2f5;
    // text-align: justify;
    // color: #000;
    // padding: 40px 20px 40px;
    // height: 300px;
    // box-shadow: rgb(0 0 0 / 11%) 0px 4px 13px;
    margin-bottom: 30px;
    text-align: justify;
    color: #000;
    padding: 40px 20px 40px;
    height: 325px;
    box-shadow: 1px 4px 4px 5px rgba(0, 0, 0, 0.0705882353);
    transform: perspective(1238px) rotateY(12deg);
    @media #{$sm-layout}{
        height: fit-content;
    }
    @media #{$lg-layout}{
        height: fit-content;
    }
    .sl-number{
        margin: auto;
    }
    img{
        width: 60px;
        height: 60px;
    }
    .title{
    background: linear-gradient(90deg, rgba(255,116,37,1) 8%, rgba(0,0,0,1) 83%)    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    text-align: left;
    margin-bottom: 8px;
}
    //

}
.patner-bg{
    // background: url(/images/banner/patner-banner.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    @media #{$sm-layout} {
        // background: url(/images/banner/patner-banner.png) !important; 
    }
}
.patner-img{
    width: 16%;
    display: flex;
    height: 100px;
    align-items: center;
    z-index: 1;
    img{
        width: 170px;
        height: 44px;
        object-fit: contain;
    }
    @media #{$sm-layout} {
        width: 33%;
        display: flex;
        height: 78px;
        align-items: center;
        img{
            width: 100%;
        }
    }
}
.about-quality {
    margin-bottom: 30px;
    box-shadow: 1px 4px 4px 5px rgba(0, 0, 0, 0.0705882353);
    padding: 18px;
    min-height: 340px;
    max-height: 500px;
    .sl-number {
        text-align: center;
        height: 80px;
        width: 80px;
        line-height: 80px;
        border-radius: 50%;
        // background:var(--gradient-button);
        color: var(--color-white);
        margin-bottom: 40px;
        transition: var(--transition);

    }
    .title {
        color: var(--color-white);
        background: linear-gradient(90deg, rgba(255,116,37,1) 8%, rgba(0,0,0,1) 83%)    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    padding: 22px 0px;
    @media #{$sm-layout}{
        padding: 22px 0px 0px;
    }
    @media #{$lg-layout}{
        font-size:20px ;
    }
    }
    p {
        // opacity: 0.5;
        color: var(--color-black);
        transition: var(--transition);
        width: 100%;
        text-align: justify;
        // margin: auto;

        @media #{$sm-layout}{
            width: 100%;
        }
    }
    &:hover, &.active {
        .sl-number {
            background: var(--gradient-button);
        }
        p {
            opacity: 1;
        }
    }
}
.about-quality-2 {
    min-height: 280px;
    @media #{$md-layout}{
        min-height: fit-content;
    }
    @media #{$lg-layout}{
        min-height: 325px;
    }
}
.about-quality-3 {
    .title{
        font-size: 22px;
        padding: 22px 0px 0px;
    }
    min-height: 380px;
    @media #{$md-layout}{
        min-height: fit-content;
    }
    @media #{$lg-layout}{
        min-height: 525px;
    }
    @media #{$sm-laptop-device}{
        min-height: 410px;
    }
}
.about-team {
    .section-heading {
       p {
           width: 100%;
           margin-bottom: 50px;
       }
    }
    .axil-btn {
        width: 240px;
    }
    // .thumbnail {
    //     padding-right: 100px;
    // }
    // .thumbnaill{
    //     padding-right: 0px !important;
    // }
}
.vertical-timeline-element-content {
    position: relative;
    margin-left: 60px;
    background: transparent;
    border-radius: 0.25em;
    padding: 1em;
    -webkit-box-shadow: 0 3px 0 #ddd;
    box-shadow: none;
}
.vertical-timeline-element-icon.bounce-in {
    width: 30px;
    height: 30px;
    position: relative;
    top: 75px;
    margin-left: -15px;
    @media #{$sm-layout} {
        position: absolute !important;
        left: 91% !important;
        margin-left: 0 !important;
    }
   
    @media #{$md-layout} {
        width: 30px;
        height: 30px;
        position: relative;
        right: 26px;
        margin-left: 87.5%;
    }
    @media #{$extra-sm-device}{
        margin-left: 49.5% !important;
    }
    // @media #{$sm-layout} {

    //     margin-left: 1% !important;
    // }
    @media #{$lg-layout} {

        margin-left: 91.9%;
    }
}
.vertical-timeline::before{
    background: var(--gradient-button) !important;
    @media #{$sm-layout} {
        top: 0;
    left: 90%;
    height: 100%;
    }
     @media #{$md-layout} {
        position: absolute;
        left: 96.5%;
    }
    @media #{$smlg-device} {
        position: absolute;
        left: 93.5% !important;
    }
}
.vertical-timeline-element {
    margin: 2em 0;
}
.vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0;
    padding: 0;
    width: 44%;
    .vertical-timeline-element-title{
        @media #{$sm-layout}{
            text-align: left;
        }
        @media #{$md-layout}{
            text-align: left;
        }
    }
    @media #{$sm-layout} {
        width: 80%;
    }
    @media #{$md-layout} {
        width: 86%;
    }
    @media #{$lg-layout}{
    
        width: 44%;
    }
    @media #{$extra-sm-device}{
        width: 44% !important;
    }
    @media #{$smlg-device} {
        width: 85%;
    }
    
}
.ins-serve{
    // background: var(--gradient-primary);
}

#mission{
    background: var(--gradient-primary);
    padding: 60px 0px;
    @media #{$sm-layout}{
        background: transparent;
        padding: 0px;
    }
}

.modal-backdrop.show {
    /* opacity: var(--bs-backdrop-opacity); */
}


.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: fit-content;
    background-color: var(--bs-backdrop-bg);
    overflow-y: scroll;
}
.modal-content{
    max-width: 100% !important;
}
.time-line{
    max-height: 1000px;
    overflow-y: auto;
    
}
.time-line::-webkit-scrollbar{
    display: none !important;
}