/*-------------------------
    Contact
-------------------------*/
.office-location {
    margin-bottom: 30px;
    .thumbnail {
        margin-bottom: 30px;
        a{
            width: 100%;
        }
        img {
            width: 100%;
            height: 230px;
            overflow: hidden;
            transition: 0s all linear .5s;
            // object-fit: fill;
            // &:hover{
            //     scale: 0.9;
            // }
        }
    }
    .content {
        .title {
            color: var(--color-white);
            margin-bottom: 20px;
            font-size: 24px;
        }
        p {
            color: #000;
            width: 70%;
        }
    }
}

.contact-info {
    background-color: #fff;
    border-radius: 14px;
    padding: 40px 50px;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,.25);
    @media #{$sm-layout}{
       
        padding:  60px 11px 60px 20px;
    }
    .title {
        color: var(--color-white);
        margin-bottom: 20px;
    }
    p {
        color: #000;
        width: 80%;
    }
    .phone-number {
        font-size: 24px;
        color: var(--color-accent2);
        margin-bottom: 0;
        &:first-child{
            letter-spacing: 1.7px;
        }
        &:last-child{
            letter-spacing: 1px;
        }
        @media #{$smlg-device} {
            font-size: 42px;
        }
        @media #{$md-layout} {
            font-size: 34px;
        }
        @media #{$sm-layout} {
            font-size: 22px;
        }
        a {
            &:hover {
                color: var(--color-white);
            }
        }
    }
}

.contact-address {
    .section-heading {
        margin-bottom: 180px;
        @media #{$md-layout} {
            margin-bottom: 80px;
        }
        .title {
            width: 100%;
        }
    }
    .address {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
        .title {
            color: var(--color-white);
            font-weight: 700;
            margin-bottom: 10px;
        }
        p {
            font-family: var(--font-primary);
            font-weight: 500;
            font-size: 24px;
            color: var(--color-gray-2);
            width: 50%;
            margin-bottom: 0;
            @media #{$md-layout} {
                font-size: 18px;
                width: 80%;
            }
            a {
                color: var(--color-gray-2);
                &:hover {
                    color: var(--color-white);
                }
            }
        }
    }
}