
.crp{
    cursor: pointer;

}
h2.PressRoom {
    font-size: 36px;
    text-align: center;
    padding: 40px 0px 22px;
    background: linear-gradient(90deg, rgba(255,116,37,1) 8%, rgba(0,0,0,1) 83%)    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.news-card-home{
    // min-height: 250px !important;
    padding-bottom: 50px !important;
    a{
        height: 115px !important;
    }
}
.news-card {
    // box-shadow: 0 55px 86px -35px #ECF2F6;
    background: var(--gradient-primary);
    padding: 25px ;
    border-radius: 24px;
    text-align: center;
    min-height: 220px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 16px;
    margin: 45px 0px;
    a{
        height: 80px;
    display: flex;
    img{
        width: 54%;
        margin: auto;
        object-fit: contain;
        height: 70px;
    }
    }
   
    .card_content{
        span{
            text-align: left;
            color: #000;
            font-weight: 500;
            display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
        }
        h3{
            font-size: 24px;
            margin-top: 20px;
            display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
        }
        .sb-tle{
            font-size: 20px;
        }
    }
}
.active-dark-mode{
    .news-card{
        background: var(--dark-bg-color);
        color: #fff;
    }
    .card_content{
        span{
            text-align: left;
            color: #fff;
            font-weight: 400;
        }
    }
}

 .log-1 {
    // display: none;
    height: 150px;
    width: 250px;
    object-fit: contain;
}
 .log-2 {
    display: block;
    height: 150px;
    width: 250px;
    object-fit: contain;
}
img.dark-version-logo.dark-version-logo1.log-2{
    display: none;
}
.clients-sec {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.clients-im {
    width: 12%;
    padding: 0px 16px;
    @media #{$sm-layout} {
        width: 49%;
    }
    @media screen and (min-width:768px) and (max-width:992px) {
        width: 20%;
    }
    @media #{$lg-layout} {
        width: 20%;
    }

.clients-card {
    width: 100%;
    max-height: 120px;
    margin: 16px 0px;
    @media #{$sm-layout} {
        width: 100%;
        max-height: fit-content;
        margin: 16px 0px;
    }
}

.clients-card img {
    width: 100%;
    height: 110px;
    object-fit: contain;
    transition: 0.6s linear all 0s;
    @media #{$sm-layout} {
        height: fit-content;
    }
    &:hover{
        transform: scale(1.2);
    }
}
}
#rc_unique_0 {font-size: 24px;margin: 20px 0px;}

#scam-tt {
    font-size: 20px;
}
.ant-modal-footer{
    display: none;
}